{% extends "base.html" %}

{% block footer %}
  <footer class="custom-fat-footer">
    <div class="md-grid">
      <div class="fat-footer-inner">
        {% for nav_item in nav %}
          {% if nav_item.children %}
            <div class="fat-footer-section">
              <h4 class="fat-footer-title">{{ nav_item.title }}</h4>
              <ul class="fat-footer-list">
                {% for child in nav_item.children %}
                  <li><a href="{{ child.url | url }}">{{ child.title }}</a></li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </footer>
  {{ super() }}
{% endblock %}
